<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4"><%=@task_list.title%></h1>
    <%= link_to "Delete", @task_list, method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-outline-danger" %>
    <hr/>
    <% @tasks.each do |task|%>
    <ul class="list-group text-left">
        <li class="list-group-item  d-flex justify-content-between align-items-center lead mt-3">
            <%= link_to task.description, task_list_task_path(task),class:"list-group-item-action"%>
        </li>
    </ul>
    <%end%>
  </div>

    
  <%= link_to  "Add task", new_task_list_task_path(@task_list), class: "btn btn-success text-center mt-5" %>
</div>